{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Owataikoto2 - {% block title %}{% endblock %}</title>
</head>
<body>
<ul>
<li><a href="/">Index</a></li>
{% if user.is_authenticated %}
<li>Upload</li>
<li>My owata</li>
<li><a href="{% url 'member.views.profile' username=user.username %}">{{ user.username }}</a></li>
<li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
<li><a href="{% url 'member.views.register' %}">Register</a></li>
{% endif %}
</ul>
<hr/>
{% block main %}{% endblock %}
</body>
</html>
