{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}Member register{% endblock %}

{% block main %}
<form action="{% url 'member.views.register' %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Register" />
</form>
{% endblock %}
