{% extends "base.tmpl" %}

{% load url from future %}
{% load comment %}

{% block title %}{{ user.username }} - Game list{% endblock %}

{% block main %}
<h1>{{ game.title }}</h1>

<div align="center">
<embed width="576px" height="432px" src="{% url 'game.views.get_game_swf' game_entry=game.id %}" wmode="transparent" type="application/x-shockwave-flash">
</div>
<form action="{% url 'game.views.add_game_comment' %}" method="post">{% csrf_token %}
{{ comment_form.as_p }}
<input type="submit" value="Submit" />
</form>
<table border="1">{% for comment in comment_list %}
	<tr>
		<td>{{ comment.author }}</td>
		<td>{{ comment.content|comment }}</td>
		<td>{{ comment.datetime }}</td>
	</tr>
{% endfor %}</table>
{% endblock %}
