{% extends "base.tmpl" %}

{% load url from future %}

{% block title %}{{ user.username }} - Game list{% endblock %}

{% block main %}
<ul>
	{% for game in game_list %}
		<li><a href="{% url 'game.views.get_game' game_entry=game.id %}">{{ game.title }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
